[submodule "ose-mortgage-dashboard/src/main/java/ose-mortgage-datamodel"]
	path = ose-mortgage-dashboard/src/main/java/ose-mortgage-datamodel
	url = https://github.com/jeremyary/ose-mortgage-datamodel
